In [3]:
#load depdencies and source data

import pandas as pd
import numpy as np

source_data = pd.read_csv('Data to be Modeled with ANFIS.csv')
anfis = source_data

       X1    X2        Y
0     5.0   8.0   9.8014
1     5.2   8.0   9.6813
2     5.4   8.0   9.1777
3     5.6   8.0   8.9374
4     5.8   8.0   8.6544
..    ...   ...      ...
437   9.2  16.0  10.5574
438   9.4  16.0  10.9432
439   9.6  16.0  11.3713
440   9.8  16.0  11.8264
441  10.0  16.0  12.2880

[442 rows x 3 columns]

In [10]:
#print data summary
print(source_data)
print('MIN ')
print(source_data.min())
print('MAX ')
print(source_data.max())

       X1    X2        Y  S1
0     5.0   8.0   9.8014 NaN
1     5.2   8.0   9.6813 NaN
2     5.4   8.0   9.1777 NaN
3     5.6   8.0   8.9374 NaN
4     5.8   8.0   8.6544 NaN
..    ...   ...      ...  ..
437   9.2  16.0  10.5574 NaN
438   9.4  16.0  10.9432 NaN
439   9.6  16.0  11.3713 NaN
440   9.8  16.0  11.8264 NaN
441  10.0  16.0  12.2880 NaN

[442 rows x 4 columns]
MIN
X1    5.000
X2    8.000
Y     1.376
S1      NaN
dtype: float64
MAX
X1    10.000
X2    16.000
Y     12.288
S1       NaN
dtype: float64

In [20]:
#LAYER 1
# set alpha beta gamma for S1, M1, L1, S2, M2, L2
# then calulate membership
#     X1 in S1, M1, L1
#     X2 in S2, M2, L2
# using generalized bell function
S1alpha = 1
S1beta = 2
S1gamma = 4
M1alpha = 1
M1beta = 1
M1gamma = 1
L1alpha = 1
L1beta = 1
L1gamma = 1
S2alpha = 1
S2beta = 1
S2gamma = 1
M2alpha = 1
M2beta = 1
M2gamma = 1
L2alpha = 1
L2beta = 1
L2gamma = 1

anfis['S1'] = 1 / (1+abs( (anfis['X1']-S1gamma) / S1alpha)**(2*S1beta) )
anfis['M1'] = 1 / (1+abs( (anfis['X1']-M1gamma) / M1alpha)**(2*M1beta) )
anfis['L1'] = 1 / (1+abs( (anfis['X1']-L1gamma) / L1alpha)**(2*L1beta) )
anfis['S2'] = 1 / (1+abs( (anfis['X2']-S2gamma) / S2alpha)**(2*S2beta) )
anfis['M2'] = 1 / (1+abs( (anfis['X2']-M2gamma) / M2alpha)**(2*M2beta) )
anfis['L2'] = 1 / (1+abs( (anfis['X2']-L2gamma) / L2alpha)**(2*L2beta) )

anfis

,X1,X2,Y,S1,M1,L1,S2,M2,L2
0,5.0,8.0,9.8014,0.500000,0.058824,0.058824,0.020000,0.020000,0.020000
1,5.2,8.0,9.6813,0.325351,0.053648,0.053648,0.020000,0.020000,0.020000
2,5.4,8.0,9.1777,0.206543,0.049116,0.049116,0.020000,0.020000,0.020000
3,5.6,8.0,8.9374,0.132387,0.045126,0.045126,0.020000,0.020000,0.020000
4,5.8,8.0,8.6544,0.086975,0.041597,0.041597,0.020000,0.020000,0.020000
...,...,...,...,...,...,...,...,...,...
437,9.2,16.0,10.5574,0.001366,0.014654,0.014654,0.004425,0.004425,0.004425
438,9.4,16.0,10.9432,0.001175,0.013974,0.013974,0.004425,0.004425,0.004425
439,9.6,16.0,11.3713,0.001016,0.013340,0.013340,0.004425,0.004425,0.004425
440,9.8,16.0,11.8264,0.000883,0.012749,0.012749,0.004425,0.004425,0.004425
441,10.0,16.0,12.2880,0.000771,0.012195,0.012195,0.004425,0.004425,0.004425

In [21]:
#calculate rule weights
#rule weights = cartesian product of (S1, M1, L1) X (S2, M2, L2)
# R1-R9 = raw rule weight

anfis['R1'] = anfis['S1'] * anfis['S2']
anfis['R2'] = anfis['S1'] * anfis['M2']
anfis['R3'] = anfis['S1'] * anfis['L2']
anfis['R4'] = anfis['M1'] * anfis['S2']
anfis['R5'] = anfis['M1'] * anfis['M2']
anfis['R6'] = anfis['M1'] * anfis['L2']
anfis['R7'] = anfis['L1'] * anfis['S2']
anfis['R8'] = anfis['L1'] * anfis['M2']
anfis['R9'] = anfis['L1'] * anfis['L2']

anfis

,X1,X2,Y,S1,M1,L1,S2,M2,L2,R1,R2,R3,R4,R5,R6,R7,R8,R9
0,5.0,8.0,9.8014,0.500000,0.058824,0.058824,0.020000,0.020000,0.020000,0.010000,0.010000,0.010000,0.001176,0.001176,0.001176,0.001176,0.001176,0.001176
1,5.2,8.0,9.6813,0.325351,0.053648,0.053648,0.020000,0.020000,0.020000,0.006507,0.006507,0.006507,0.001073,0.001073,0.001073,0.001073,0.001073,0.001073
2,5.4,8.0,9.1777,0.206543,0.049116,0.049116,0.020000,0.020000,0.020000,0.004131,0.004131,0.004131,0.000982,0.000982,0.000982,0.000982,0.000982,0.000982
3,5.6,8.0,8.9374,0.132387,0.045126,0.045126,0.020000,0.020000,0.020000,0.002648,0.002648,0.002648,0.000903,0.000903,0.000903,0.000903,0.000903,0.000903
4,5.8,8.0,8.6544,0.086975,0.041597,0.041597,0.020000,0.020000,0.020000,0.001739,0.001739,0.001739,0.000832,0.000832,0.000832,0.000832,0.000832,0.000832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,9.2,16.0,10.5574,0.001366,0.014654,0.014654,0.004425,0.004425,0.004425,0.000006,0.000006,0.000006,0.000065,0.000065,0.000065,0.000065,0.000065,0.000065
438,9.4,16.0,10.9432,0.001175,0.013974,0.013974,0.004425,0.004425,0.004425,0.000005,0.000005,0.000005,0.000062,0.000062,0.000062,0.000062,0.000062,0.000062
439,9.6,16.0,11.3713,0.001016,0.013340,0.013340,0.004425,0.004425,0.004425,0.000004,0.000004,0.000004,0.000059,0.000059,0.000059,0.000059,0.000059,0.000059
440,9.8,16.0,11.8264,0.000883,0.012749,0.012749,0.004425,0.004425,0.004425,0.000004,0.000004,0.000004,0.000056,0.000056,0.000056,0.000056,0.000056,0.000056
441,10.0,16.0,12.2880,0.000771,0.012195,0.012195,0.004425,0.004425,0.004425,0.000003,0.000003,0.000003,0.000054,0.000054,0.000054,0.000054,0.000054,0.000054

In [24]:
# normalize rule weights
# Divide rule weight (R1...R9) by summation of all rule weights (R1 + R2 + ... R9)
# N1-N9 = normalized rule weights

anfis['N1'] = anfis['R1'] / (anfis['R1'] + anfis['R2'] + anfis['R3'] + anfis['R4'] + anfis['R5'] + anfis['R6'] + 
    anfis['R7'] + anfis['R8'] + anfis['R9'])

anfis['N2'] = anfis['R2'] / (anfis['R1'] + anfis['R2'] + anfis['R3'] + anfis['R4'] + anfis['R5'] + anfis['R6'] + 
    anfis['R7'] + anfis['R8'] + anfis['R9'])

anfis['N3'] = anfis['R3'] / (anfis['R1'] + anfis['R2'] + anfis['R3'] + anfis['R4'] + anfis['R5'] + anfis['R6'] + 
    anfis['R7'] + anfis['R8'] + anfis['R9'])

anfis['N4'] = anfis['R4'] / (anfis['R1'] + anfis['R2'] + anfis['R3'] + anfis['R4'] + anfis['R5'] + anfis['R6'] + 
    anfis['R7'] + anfis['R8'] + anfis['R9'])

anfis['N5'] = anfis['R5'] / (anfis['R1'] + anfis['R2'] + anfis['R3'] + anfis['R4'] + anfis['R5'] + anfis['R6'] + 
    anfis['R7'] + anfis['R8'] + anfis['R9'])

anfis['N6'] = anfis['R6'] / (anfis['R1'] + anfis['R2'] + anfis['R3'] + anfis['R4'] + anfis['R5'] + anfis['R6'] + 
    anfis['R7'] + anfis['R8'] + anfis['R9'])

anfis['N7'] = anfis['R7'] / (anfis['R1'] + anfis['R2'] + anfis['R3'] + anfis['R4'] + anfis['R5'] + anfis['R6'] + 
    anfis['R7'] + anfis['R8'] + anfis['R9'])

anfis['N8'] = anfis['R8'] / (anfis['R1'] + anfis['R2'] + anfis['R3'] + anfis['R4'] + anfis['R5'] + anfis['R6'] + 
    anfis['R7'] + anfis['R8'] + anfis['R9'])

anfis['N9'] = anfis['R9'] / (anfis['R1'] + anfis['R2'] + anfis['R3'] + anfis['R4'] + anfis['R5'] + anfis['R6'] + 
    anfis['R7'] + anfis['R8'] + anfis['R9'])

anfis

,X1,X2,Y,S1,M1,L1,S2,M2,L2,R1,...,R9,N1,N2,N3,N4,N5,N6,N7,N8,N9
0,5.0,8.0,9.8014,0.500000,0.058824,0.058824,0.020000,0.020000,0.020000,0.010000,...,0.001176,0.269841,0.269841,0.269841,0.031746,0.031746,0.031746,0.031746,0.031746,0.031746
1,5.2,8.0,9.6813,0.325351,0.053648,0.053648,0.020000,0.020000,0.020000,0.006507,...,0.001073,0.250667,0.250667,0.250667,0.041333,0.041333,0.041333,0.041333,0.041333,0.041333
2,5.4,8.0,9.1777,0.206543,0.049116,0.049116,0.020000,0.020000,0.020000,0.004131,...,0.000982,0.225897,0.225897,0.225897,0.053718,0.053718,0.053718,0.053718,0.053718,0.053718
3,5.6,8.0,8.9374,0.132387,0.045126,0.045126,0.020000,0.020000,0.020000,0.002648,...,0.000903,0.198208,0.198208,0.198208,0.067563,0.067563,0.067563,0.067563,0.067563,0.067563
4,5.8,8.0,8.6544,0.086975,0.041597,0.041597,0.020000,0.020000,0.020000,0.001739,...,0.000832,0.170369,0.170369,0.170369,0.081482,0.081482,0.081482,0.081482,0.081482,0.081482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,9.2,16.0,10.5574,0.001366,0.014654,0.014654,0.004425,0.004425,0.004425,0.000006,...,0.000065,0.014842,0.014842,0.014842,0.159246,0.159246,0.159246,0.159246,0.159246,0.159246
438,9.4,16.0,10.9432,0.001175,0.013974,0.013974,0.004425,0.004425,0.004425,0.000005,...,0.000062,0.013445,0.013445,0.013445,0.159944,0.159944,0.159944,0.159944,0.159944,0.159944
439,9.6,16.0,11.3713,0.001016,0.013340,0.013340,0.004425,0.004425,0.004425,0.000004,...,0.000059,0.012225,0.012225,0.012225,0.160554,0.160554,0.160554,0.160554,0.160554,0.160554
440,9.8,16.0,11.8264,0.000883,0.012749,0.012749,0.004425,0.004425,0.004425,0.000004,...,0.000056,0.011156,0.011156,0.011156,0.161089,0.161089,0.161089,0.161089,0.161089,0.161089
441,10.0,16.0,12.2880,0.000771,0.012195,0.012195,0.004425,0.004425,0.004425,0.000003,...,0.000054,0.010214,0.010214,0.010214,0.161560,0.161560,0.161560,0.161560,0.161560,0.161560

In [ ]:
#ASSUMING (FOR NOW) C1, C2, C3 all to be 1
#calculate function activation for each rule
# F1 = N1 X (X1 + X2 + Y)
# F1 - F9 = function activations