In [20]:
#load depdencies and source data

import pandas as pd
import numpy as np

source_data = pd.read_csv('Data to be Modeled with ANFIS.csv')
anfis = source_data

#print data summary
print(source_data)
print('MIN ')
print(source_data.min())
print('MAX ')
print(source_data.max())

       X1    X2        Y
0     5.0   8.0   9.8014
1     5.2   8.0   9.6813
2     5.4   8.0   9.1777
3     5.6   8.0   8.9374
4     5.8   8.0   8.6544
..    ...   ...      ...
437   9.2  16.0  10.5574
438   9.4  16.0  10.9432
439   9.6  16.0  11.3713
440   9.8  16.0  11.8264
441  10.0  16.0  12.2880

[442 rows x 3 columns]
MIN
X1    5.000
X2    8.000
Y     1.376
dtype: float64
MAX
X1    10.000
X2    16.000
Y     12.288
dtype: float64

In [21]:
#LAYER0
# anfis['X1'] = x1
# anfis['X2'] = x2

anfis

       X1    X2        Y
0     5.0   8.0   9.8014
1     5.2   8.0   9.6813
2     5.4   8.0   9.1777
3     5.6   8.0   8.9374
4     5.8   8.0   8.6544
..    ...   ...      ...
437   9.2  16.0  10.5574
438   9.4  16.0  10.9432
439   9.6  16.0  11.3713
440   9.8  16.0  11.8264
441  10.0  16.0  12.2880

[442 rows x 3 columns]

In [22]:
#LAYER 1
# set alpha beta gamma for S1, M1, L1, S2, M2, L2
S1alpha = 1
S1beta = 1
S1gamma = 1
M1alpha = 1
M1beta = 1
M1gamma = 1
L1alpha = 1
L1beta = 1
L1gamma = 1
S2alpha = 1
S2beta = 1
S2gamma = 1
M2alpha = 1
M2beta = 1
M2gamma = 1
L2alpha = 1
L2beta = 1
L2gamma = 1

# calulate membership
#     X1 in S1, M1, L1
#     X2 in S2, M2, L2
# using generalized bell function
anfis['S1'] = 1 / (1+abs( (anfis['X1']-S1gamma) / S1alpha)**(2*S1beta) )
anfis['M1'] = 1 / (1+abs( (anfis['X1']-M1gamma) / M1alpha)**(2*M1beta) )
anfis['L1'] = 1 / (1+abs( (anfis['X1']-L1gamma) / L1alpha)**(2*L1beta) )
anfis['S2'] = 1 / (1+abs( (anfis['X2']-S2gamma) / S2alpha)**(2*S2beta) )
anfis['M2'] = 1 / (1+abs( (anfis['X2']-M2gamma) / M2alpha)**(2*M2beta) )
anfis['L2'] = 1 / (1+abs( (anfis['X2']-L2gamma) / L2alpha)**(2*L2beta) )

anfis

,X1,X2,Y,S1,M1,L1,S2,M2,L2
0,5.0,8.0,9.8014,0.058824,0.058824,0.058824,0.020000,0.020000,0.020000
1,5.2,8.0,9.6813,0.053648,0.053648,0.053648,0.020000,0.020000,0.020000
2,5.4,8.0,9.1777,0.049116,0.049116,0.049116,0.020000,0.020000,0.020000
3,5.6,8.0,8.9374,0.045126,0.045126,0.045126,0.020000,0.020000,0.020000
4,5.8,8.0,8.6544,0.041597,0.041597,0.041597,0.020000,0.020000,0.020000
...,...,...,...,...,...,...,...,...,...
437,9.2,16.0,10.5574,0.014654,0.014654,0.014654,0.004425,0.004425,0.004425
438,9.4,16.0,10.9432,0.013974,0.013974,0.013974,0.004425,0.004425,0.004425
439,9.6,16.0,11.3713,0.013340,0.013340,0.013340,0.004425,0.004425,0.004425
440,9.8,16.0,11.8264,0.012749,0.012749,0.012749,0.004425,0.004425,0.004425
441,10.0,16.0,12.2880,0.012195,0.012195,0.012195,0.004425,0.004425,0.004425

In [24]:
#LAYER 2
#calculate rule weights
#rule activation = cartesian product of (S1, M1, L1) X (S2, M2, L2)
# R1-R9 = raw rule activation

anfis['R1'] = anfis['S1'] * anfis['S2'] # antecedent = when x1 is Small and x2 is Small...
anfis['R2'] = anfis['S1'] * anfis['M2']
anfis['R3'] = anfis['S1'] * anfis['L2']
anfis['R4'] = anfis['M1'] * anfis['S2']
anfis['R5'] = anfis['M1'] * anfis['M2']
anfis['R6'] = anfis['M1'] * anfis['L2']
anfis['R7'] = anfis['L1'] * anfis['S2']
anfis['R8'] = anfis['L1'] * anfis['M2']
anfis['R9'] = anfis['L1'] * anfis['L2']

anfis

,X1,X2,Y,S1,M1,L1,S2,M2,L2,R1,R2,R3,R4,R5,R6,R7,R8,R9
0,5.0,8.0,9.8014,0.058824,0.058824,0.058824,0.020000,0.020000,0.020000,0.001176,0.001176,0.001176,0.001176,0.001176,0.001176,0.001176,0.001176,0.001176
1,5.2,8.0,9.6813,0.053648,0.053648,0.053648,0.020000,0.020000,0.020000,0.001073,0.001073,0.001073,0.001073,0.001073,0.001073,0.001073,0.001073,0.001073
2,5.4,8.0,9.1777,0.049116,0.049116,0.049116,0.020000,0.020000,0.020000,0.000982,0.000982,0.000982,0.000982,0.000982,0.000982,0.000982,0.000982,0.000982
3,5.6,8.0,8.9374,0.045126,0.045126,0.045126,0.020000,0.020000,0.020000,0.000903,0.000903,0.000903,0.000903,0.000903,0.000903,0.000903,0.000903,0.000903
4,5.8,8.0,8.6544,0.041597,0.041597,0.041597,0.020000,0.020000,0.020000,0.000832,0.000832,0.000832,0.000832,0.000832,0.000832,0.000832,0.000832,0.000832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,9.2,16.0,10.5574,0.014654,0.014654,0.014654,0.004425,0.004425,0.004425,0.000065,0.000065,0.000065,0.000065,0.000065,0.000065,0.000065,0.000065,0.000065
438,9.4,16.0,10.9432,0.013974,0.013974,0.013974,0.004425,0.004425,0.004425,0.000062,0.000062,0.000062,0.000062,0.000062,0.000062,0.000062,0.000062,0.000062
439,9.6,16.0,11.3713,0.013340,0.013340,0.013340,0.004425,0.004425,0.004425,0.000059,0.000059,0.000059,0.000059,0.000059,0.000059,0.000059,0.000059,0.000059
440,9.8,16.0,11.8264,0.012749,0.012749,0.012749,0.004425,0.004425,0.004425,0.000056,0.000056,0.000056,0.000056,0.000056,0.000056,0.000056,0.000056,0.000056
441,10.0,16.0,12.2880,0.012195,0.012195,0.012195,0.004425,0.004425,0.004425,0.000054,0.000054,0.000054,0.000054,0.000054,0.000054,0.000054,0.000054,0.000054

In [25]:
#LAYER 3
# sum all Rule activations
anfis['RULE_SUM'] = anfis['R1'] + anfis['R2'] + anfis['R3'] + anfis['R4'] + anfis['R5'] + anfis['R6'] + anfis['R7'] + anfis['R8'] + anfis['R9']

anfis

,X1,X2,Y,S1,M1,L1,S2,M2,L2,R1,R2,R3,R4,R5,R6,R7,R8,R9,RULE_SUM
0,5.0,8.0,9.8014,0.058824,0.058824,0.058824,0.020000,0.020000,0.020000,0.001176,0.001176,0.001176,0.001176,0.001176,0.001176,0.001176,0.001176,0.001176,0.010588
1,5.2,8.0,9.6813,0.053648,0.053648,0.053648,0.020000,0.020000,0.020000,0.001073,0.001073,0.001073,0.001073,0.001073,0.001073,0.001073,0.001073,0.001073,0.009657
2,5.4,8.0,9.1777,0.049116,0.049116,0.049116,0.020000,0.020000,0.020000,0.000982,0.000982,0.000982,0.000982,0.000982,0.000982,0.000982,0.000982,0.000982,0.008841
3,5.6,8.0,8.9374,0.045126,0.045126,0.045126,0.020000,0.020000,0.020000,0.000903,0.000903,0.000903,0.000903,0.000903,0.000903,0.000903,0.000903,0.000903,0.008123
4,5.8,8.0,8.6544,0.041597,0.041597,0.041597,0.020000,0.020000,0.020000,0.000832,0.000832,0.000832,0.000832,0.000832,0.000832,0.000832,0.000832,0.000832,0.007488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,9.2,16.0,10.5574,0.014654,0.014654,0.014654,0.004425,0.004425,0.004425,0.000065,0.000065,0.000065,0.000065,0.000065,0.000065,0.000065,0.000065,0.000065,0.000584
438,9.4,16.0,10.9432,0.013974,0.013974,0.013974,0.004425,0.004425,0.004425,0.000062,0.000062,0.000062,0.000062,0.000062,0.000062,0.000062,0.000062,0.000062,0.000556
439,9.6,16.0,11.3713,0.013340,0.013340,0.013340,0.004425,0.004425,0.004425,0.000059,0.000059,0.000059,0.000059,0.000059,0.000059,0.000059,0.000059,0.000059,0.000531
440,9.8,16.0,11.8264,0.012749,0.012749,0.012749,0.004425,0.004425,0.004425,0.000056,0.000056,0.000056,0.000056,0.000056,0.000056,0.000056,0.000056,0.000056,0.000508
441,10.0,16.0,12.2880,0.012195,0.012195,0.012195,0.004425,0.004425,0.004425,0.000054,0.000054,0.000054,0.000054,0.000054,0.000054,0.000054,0.000054,0.000054,0.000486

In [26]:
#LAYER 4
# normalize rule weights
# Divide rule weight (R1...R9) by summation of all rule weights (R1 + R2 + ... R9)
# N1-N9 = normalized rule weights

anfis['N1'] = anfis['R1'] / anfis['RULE_SUM']
anfis['N2'] = anfis['R2'] / anfis['RULE_SUM']
anfis['N3'] = anfis['R3'] / anfis['RULE_SUM']
anfis['N4'] = anfis['R4'] / anfis['RULE_SUM']
anfis['N5'] = anfis['R5'] / anfis['RULE_SUM']
anfis['N6'] = anfis['R6'] / anfis['RULE_SUM']
anfis['N7'] = anfis['R7'] / anfis['RULE_SUM']
anfis['N8'] = anfis['R8'] / anfis['RULE_SUM']
anfis['N9'] = anfis['R9'] / anfis['RULE_SUM']
anfis

,X1,X2,Y,S1,M1,L1,S2,M2,L2,R1,...,RULE_SUM,N1,N2,N3,N4,N5,N6,N7,N8,N9
0,5.0,8.0,9.8014,0.058824,0.058824,0.058824,0.020000,0.020000,0.020000,0.001176,...,0.010588,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111
1,5.2,8.0,9.6813,0.053648,0.053648,0.053648,0.020000,0.020000,0.020000,0.001073,...,0.009657,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111
2,5.4,8.0,9.1777,0.049116,0.049116,0.049116,0.020000,0.020000,0.020000,0.000982,...,0.008841,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111
3,5.6,8.0,8.9374,0.045126,0.045126,0.045126,0.020000,0.020000,0.020000,0.000903,...,0.008123,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111
4,5.8,8.0,8.6544,0.041597,0.041597,0.041597,0.020000,0.020000,0.020000,0.000832,...,0.007488,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,9.2,16.0,10.5574,0.014654,0.014654,0.014654,0.004425,0.004425,0.004425,0.000065,...,0.000584,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111
438,9.4,16.0,10.9432,0.013974,0.013974,0.013974,0.004425,0.004425,0.004425,0.000062,...,0.000556,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111
439,9.6,16.0,11.3713,0.013340,0.013340,0.013340,0.004425,0.004425,0.004425,0.000059,...,0.000531,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111
440,9.8,16.0,11.8264,0.012749,0.012749,0.012749,0.004425,0.004425,0.004425,0.000056,...,0.000508,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111
441,10.0,16.0,12.2880,0.012195,0.012195,0.012195,0.004425,0.004425,0.004425,0.000054,...,0.000486,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111

In [31]:
#LAYER 5 Phase 1 part 1
# calculate initial C0, C1, C2 based on total data

# partial derivatives = of E = 1/2 SUM(aX1 + bX2 + c - y)
# dE/da = aSUM(X1**2) + bSUM(X1X2) + cSUM(X1) =  SUM(X1Y)
# dE/db = aSUM(X1X2) + bSUM(X2**2) + cSUM(X2) = SUM(X2Y)
# dE/dc = aSUM(X1) + bSUM(X2) + 10c = SUM(Y)
#
# this will yield three simultaneous equations, 
# once solved, a = C1, b = C2, c = C0

anfis['SQRX1'] = anfis['X1']**2
anfis['SQRX2'] = anfis['X2']**2
anfis['X1Y'] = anfis['X1'] * anfis['Y']
anfis['X2Y'] = anfis['X2'] * anfis['Y']
anfis['X1X2'] = anfis['X1'] * anfis['X2']

sumX1 = anfis['X1'].sum(); print('Sum X1 = ', sumX1)
sumX2 = anfis['X2'].sum(); print('Sum X2 = ', sumX2)
sumY = anfis['Y'].sum(); print('Sum Y = ', sumY)
sumSQRX1 = anfis['SQRX1'].sum(); print('Sum X1 squared = ', sumSQRX1)
sumSQRX2 = anfis['SQRX2'].sum(); print('Sum X2 squared = ', sumSQRX2)
sumX1X2 = anfis['X1X2'].sum(); print('Sum X1X2 = ', sumX1X2)
sumX1Y = anfis['X1Y'].sum(); print('Sum X1Y = ', sumX1Y)
sumX2Y = anfis['X2Y'].sum(); print('Sum X2Y = ', sumX1Y)

# Create array of array of a, b, c coefficiencts = [a1, b1, c1], [a2, b2, c2], [a3, b3, c3]
# Create array or ordinate or dependent values [Y1, Y2, Y3] 
# such that a1X1 + b1X2 + C1 = Y1, etc.
Coef = np.array([[sumSQRX1, sumX1X2, sumX1], [sumX1X2, sumSQRX2, sumX2], [sumX1, sumX2, 10]])
Ord = np.array([sumX1Y, sumX2Y, sumY])
Params = np.linalg.solve(Coef, Ord)
Params
startC0 = Params[2]
startC1 = Params[0]
startC2 = Params[1]

#intial C0, C1, C2 for rules 1-9
R1C0 = startC0
R1C1 = startC1
R1C2 = startC2
R2C0 = startC0
R2C1 = startC1
R2C2 = startC2
R3C0 = startC0
R3C1 = startC1
R3C2 = startC2
R4C0 = startC0
R4C1 = startC1
R4C2 = startC2
R5C0 = startC0
R5C1 = startC1
R5C2 = startC2
R6C0 = startC0
R6C1 = startC1
R6C2 = startC2
R7C0 = startC0
R7C1 = startC1
R7C2 = startC2
R8C0 = startC0
R8C1 = startC1
R8C2 = startC2
R9C0 = startC0
R9C1 = startC1
R9C2 = startC2

Sum X1 =  3315.0
Sum X2 =  5304.0
Sum Y =  2366.0819
Sum X1 squared =  25857.0
Sum X2 squared =  66300.0
Sum X1X2 =  39780.0
Sum X1Y =  18081.211199999998
Sum X2Y =  18081.211199999998

In [32]:
#LAYER 5 Phase 1 part 2

#calculate function activation for each rule, using initial C0, C1, C2 values
#

# F1 = N1 X (C0 + C1*X1 + C2*X2)
# F1 - F9 = function activations

anfis['F1'] = anfis['N1'] * ( startC0 + startC1 * anfis['X1'] + startC2 * anfis['X2'])
anfis['F2'] = anfis['N2'] * ( startC0 + startC1 * anfis['X1'] + startC2 * anfis['X2'])
anfis['F3'] = anfis['N3'] * ( startC0 + startC1 * anfis['X1'] + startC2 * anfis['X2'])
anfis['F4'] = anfis['N4'] * ( startC0 + startC1 * anfis['X1'] + startC2 * anfis['X2'])
anfis['F5'] = anfis['N5'] * ( startC0 + startC1 * anfis['X1'] + startC2 * anfis['X2'])
anfis['F6'] = anfis['N6'] * ( startC0 + startC1 * anfis['X1'] + startC2 * anfis['X2'])
anfis['F7'] = anfis['N7'] * ( startC0 + startC1 * anfis['X1'] + startC2 * anfis['X2'])
anfis['F8'] = anfis['N8'] * ( startC0 + startC1 * anfis['X1'] + startC2 * anfis['X2'])
anfis['F9'] = anfis['N9'] * ( startC0 + startC1 * anfis['X1'] + startC2 * anfis['X2'])

anfis

,X1,X2,Y,S1,M1,L1,S2,M2,L2,R1,...,X1X2,F1,F2,F3,F4,F5,F6,F7,F8,F9
0,5.0,8.0,9.8014,0.058824,0.058824,0.058824,0.020000,0.020000,0.020000,0.001176,...,40.0,0.393946,0.393946,0.393946,0.393946,0.393946,0.393946,0.393946,0.393946,0.393946
1,5.2,8.0,9.6813,0.053648,0.053648,0.053648,0.020000,0.020000,0.020000,0.001073,...,41.6,0.403153,0.403153,0.403153,0.403153,0.403153,0.403153,0.403153,0.403153,0.403153
2,5.4,8.0,9.1777,0.049116,0.049116,0.049116,0.020000,0.020000,0.020000,0.000982,...,43.2,0.412360,0.412360,0.412360,0.412360,0.412360,0.412360,0.412360,0.412360,0.412360
3,5.6,8.0,8.9374,0.045126,0.045126,0.045126,0.020000,0.020000,0.020000,0.000903,...,44.8,0.421568,0.421568,0.421568,0.421568,0.421568,0.421568,0.421568,0.421568,0.421568
4,5.8,8.0,8.6544,0.041597,0.041597,0.041597,0.020000,0.020000,0.020000,0.000832,...,46.4,0.430775,0.430775,0.430775,0.430775,0.430775,0.430775,0.430775,0.430775,0.430775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,9.2,16.0,10.5574,0.014654,0.014654,0.014654,0.004425,0.004425,0.004425,0.000065,...,147.2,0.753684,0.753684,0.753684,0.753684,0.753684,0.753684,0.753684,0.753684,0.753684
438,9.4,16.0,10.9432,0.013974,0.013974,0.013974,0.004425,0.004425,0.004425,0.000062,...,150.4,0.762891,0.762891,0.762891,0.762891,0.762891,0.762891,0.762891,0.762891,0.762891
439,9.6,16.0,11.3713,0.013340,0.013340,0.013340,0.004425,0.004425,0.004425,0.000059,...,153.6,0.772098,0.772098,0.772098,0.772098,0.772098,0.772098,0.772098,0.772098,0.772098
440,9.8,16.0,11.8264,0.012749,0.012749,0.012749,0.004425,0.004425,0.004425,0.000056,...,156.8,0.781306,0.781306,0.781306,0.781306,0.781306,0.781306,0.781306,0.781306,0.781306
441,10.0,16.0,12.2880,0.012195,0.012195,0.012195,0.004425,0.004425,0.004425,0.000054,...,160.0,0.790513,0.790513,0.790513,0.790513,0.790513,0.790513,0.790513,0.790513,0.790513

In [33]:
#Layer 6 Phase 1

# Layer 6 = SUM(F1...F9)

anfis['Z'] = anfis['F1'] + anfis['F2'] + anfis['F3'] + anfis['F4'] + anfis['F5'] + anfis['F6'] + anfis['F7'] + anfis['F8'] + anfis['F9']

anfis

,X1,X2,Y,S1,M1,L1,S2,M2,L2,R1,...,F1,F2,F3,F4,F5,F6,F7,F8,F9,Z
0,5.0,8.0,9.8014,0.058824,0.058824,0.058824,0.020000,0.020000,0.020000,0.001176,...,0.393946,0.393946,0.393946,0.393946,0.393946,0.393946,0.393946,0.393946,0.393946,3.545510
1,5.2,8.0,9.6813,0.053648,0.053648,0.053648,0.020000,0.020000,0.020000,0.001073,...,0.403153,0.403153,0.403153,0.403153,0.403153,0.403153,0.403153,0.403153,0.403153,3.628376
2,5.4,8.0,9.1777,0.049116,0.049116,0.049116,0.020000,0.020000,0.020000,0.000982,...,0.412360,0.412360,0.412360,0.412360,0.412360,0.412360,0.412360,0.412360,0.412360,3.711242
3,5.6,8.0,8.9374,0.045126,0.045126,0.045126,0.020000,0.020000,0.020000,0.000903,...,0.421568,0.421568,0.421568,0.421568,0.421568,0.421568,0.421568,0.421568,0.421568,3.794108
4,5.8,8.0,8.6544,0.041597,0.041597,0.041597,0.020000,0.020000,0.020000,0.000832,...,0.430775,0.430775,0.430775,0.430775,0.430775,0.430775,0.430775,0.430775,0.430775,3.876973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,9.2,16.0,10.5574,0.014654,0.014654,0.014654,0.004425,0.004425,0.004425,0.000065,...,0.753684,0.753684,0.753684,0.753684,0.753684,0.753684,0.753684,0.753684,0.753684,6.783154
438,9.4,16.0,10.9432,0.013974,0.013974,0.013974,0.004425,0.004425,0.004425,0.000062,...,0.762891,0.762891,0.762891,0.762891,0.762891,0.762891,0.762891,0.762891,0.762891,6.866020
439,9.6,16.0,11.3713,0.013340,0.013340,0.013340,0.004425,0.004425,0.004425,0.000059,...,0.772098,0.772098,0.772098,0.772098,0.772098,0.772098,0.772098,0.772098,0.772098,6.948886
440,9.8,16.0,11.8264,0.012749,0.012749,0.012749,0.004425,0.004425,0.004425,0.000056,...,0.781306,0.781306,0.781306,0.781306,0.781306,0.781306,0.781306,0.781306,0.781306,7.031751
441,10.0,16.0,12.2880,0.012195,0.012195,0.012195,0.004425,0.004425,0.004425,0.000054,...,0.790513,0.790513,0.790513,0.790513,0.790513,0.790513,0.790513,0.790513,0.790513,7.114617

In [34]:
#ERROR Phase 1

#Error = Z (calculated value) - Y (observed value)
anfis['Err'] = anfis['Z'] - anfis['Y']
anfis['ErrSqr'] = anfis['Err']**2

#total Error = 1/2 (SUM(Error**2))
TotalError = .5 * anfis['ErrSqr'].sum()
TotalError

1280.4240367157242